@charset "UTF-8";
/* CSS Document */
body {
	margin: 0 auto;
}
/* Page Wrap*/

.wrapper {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    min-width: 100vh;
    max-width: 1280px;
    padding-left: 2%;
    padding-right: 2%;
    direction: column;
    padding-top: 3%;
}
/* Header */
.top-sticky {
	height: 35px;
    background-color: rgba(135,186,220,0.70);
    padding-top: 0px;
    width: 100%;
	
}

.top-sticky li {
	display: inline-block;
	margin-right: 2%;
	margin-top: .5em;
	list-style: none;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    float: right;
   }

.top-sticky li a {
	list-style: none;
	color: #000000;
}
.top-sticky li a:hover {
	color: #367fa9;
}
/* Jumbotron */
#hero {
    background-image: url("../images/sample1.png");
    min-height: 600px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: baseline;
    position: relative;
    z-index: 01;
    margin-top: -1em;
    margin-bottom: 50px;
    background-attachment: fixed;
}


/* Top NAV */
#hero-banner  {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3px;
    padding-right: 3px;
	position: inherit;
}

#hero-banner img {
    max-height: 75px;
    margin-top: -2%;
    margin-right: 0;
    margin-left: 3%;
    margin-bottom: 3%;
    display: inline-block;
    float: left;
}
#hero-banner .top-nav{
    display: inherit;
    margin-right: 30%;
	
}
#hero-banner .top-nav li{
    display: block;
    float: right;
    margin-right: 3%;
    margin-top: 0%;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: 500;
    font-size: 22px;	
}
#hero-banner .top-nav ul a{
    text-decoration: none;
    color: #ffffff;
    padding: 0 2%;
    margin-left: 4em;
}#hero-banner .top-nav ul a:hover{
	color: #367fa9;
	
}
/*Slogan*/
#slogan {
    text-align: center;
    font-family: Avenir;
    alignment-baseline: center;
    margin-top: 185px;
    color: #FFFFFF;
    font-weight: 700;
    word-spacing: 2px;
}
.tagline {
	font-size: 54px;
	font-weight: 700;
}
.tagline-b {
	font-size: 50px;
	font-weight: 500;
}
button {
    margin-top: 10px;
}
/*Content Area 1*/
#cnt1 {
    max-width: 100%;
    overflow: hidden;
    margin-top: -3%;
    padding-bottom: 1%;
}
#cnt1 h1.intro {
    transform: matrix(1.255,0,0,1.255,0,0);
    font-size: 32px;
    max-width: 90%;
    text-align: center;
    padding-left: 5%;
}
.feauture-col {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-top: 5%;
	text-align: center;
}

.feauture-col span {
    display: block;
    font-size: 26px;
    padding-left: 1px;
    font-style: oblique;
}
.feauture-col p {
    font-size: 14px;
    margin-top: 0%;
    text-align: center;
}
.promo {
   
    align-items: center;
    width: 100%;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 6px;
    display: inline-block;
}

/* Call to Action*/
#c2a {
	min-height: 400px;
	background: #f6fafc;
	overflow: hidden;
	
}
#c2a .container-fluid {
    text-align: center;
    position: relative;
    max-width: 75%;
    padding-top: 0%;
}
#in2 {
    padding: 10px 15px 11px !important;
    font-size: 22px !important;
    background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #57D6C7;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    min-width: 60%;
	
}
#email-form {
    margin-top: 2%;
}

#trucker-find img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    max-width: 200px;
}
